<a href="https://colab.research.google.com/github/ndhcuong/colab/blob/master/pandas_excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS PROGRAMMING EXCERCISE

**1. Import pandas to script**

In [0]:
#Your code here

**2. Read a CSV file to memory**

The TechCrunch Continental USA file is a listing of 1,460 company funding records reported by TechCrunch. This dataset is hosted at [link](http://samplecsvs.s3.amazonaws.com/TechCrunchcontinentalUSA.csv). Let read this CSV file into a data frame.

In [0]:
#Your code here

**3. Display the first 10 rows**

In [0]:
#Your code here

**4. Apply the MAX - MIN - AVERAGE functions to raisedAmt column**

In [0]:
#Your codde here

**5. Sort the dataset according to the descending value of raisedAmt column**

In [0]:
#Your code here

**6. Group the dataset by state column**

In [0]:
#Your code here

**7. Count on every column of each group**

In [0]:
#Your code here

**8. Draw a chart using pandas**

You can draw any chart that You would love to.

In [0]:
#Your code here